params {

    reads_pe = "$baseDir/metagenome/test_*{1,2}.fq"
    
    run_params_csv = "$baseDir/run_params.csv"
    
    amr_nucl_database = "$baseDir/database/nucleotide_fasta_protein_homolog_model.fasta"

    amr_prot_database = "$baseDir/database/protein_fasta_protein_homolog_model.fasta"
    
    amr_database_version = "3.0.9"

    read_length = 250

}
